{% extends 'base.html' %}

{% load i18n %}

{% block head_title %}{% trans "Sign Up" %}{% endblock %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="col">
      <h3>{% trans "Sign Up" %}</h3>
      <p>{% blocktrans %}Welcome to Board Game Stash! Here you can create an account to then join the conversation around board games with other users, as well 
        as add your own library of games for others to comment on and for you to keep a track of. Until you create an account you can only browse libraries, no commenting
        or logging of your own!{% endblocktrans %}
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <form class="signup" method="POST" action="{% url 'account_signup' %}">
        {% csrf_token %}
        {{ form.as_p }}
        {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}">
        {% endif %}
        <button class="btn btn-signup right" type="submit">{% trans "Sign Up" %}</button>
      </form>
  </div>
</div>
{% endblock %}
