{% extends 'base.html' %} {% block content %}
{% load static %}


<!--User authentication section. If user is authenticated then their library will appear. If user is not authenticated then a page showing them the default library will appear, without any edit or comment permissions.-->

<!--Section for if the user is not authenticated-->

<!--Section for is the user is authenticated-->

<section class="container">
    <div class="row">
        {% if user.is_authenticated %}
          <div class="col">
            <button type="button" class="btn btn-primary modal-open" data-bs-toggle="modal" data-bs-target="#addGameModal">Add a new game</button>
          </div>
        {% for game in boardgamelists %}
        <div class="col">
            <div class="card" style="width: 18rem;">
            <div class="card-body ">

            <h5 class="card-title"><a href="{% url 'full_detail' game.slug %}">{{ game.title }}</a></h5>
            <p class="card-text">Rating: {{ game.rating }}</p>
            <p class="card-text">Players: {{ game.minplayers }} - {{ game.maxplayers }}</p>
            <a href="{% url 'edit_library' game.id %}" class="btn btn-success">Edit</a>
            <a href="{% url 'delete_library' game.id %}" class="btn btn-danger">Delete</a>
            </div>
                    </div>
        </div>
            {% endfor %}
            {% endif %}

    </div>
    <div>

    </div>
    <div>
        
    </div>
    
</section>
<div class="modal" tabindex="-1" id="addGameModal" aria-labelledby="addGameModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addGameModalLabel">Add a new game</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div id="gamePrepopulate">
      <h2>Is it one of these?</h2>
          <ul>
          {% for game in all_games %}
            <li>
              <a href="{% url 'update_library' %}?game_prepopulate=={{ game.id }}">
              {{ game.title }}
              </a>
            </li>
          {% endfor %}
          </ul>
          </div>
       <button id="showGameForm" type="button" class="btn btn-secondary">Need to add a new game?</button>
        <div id="addGameFormContainer" class="form-display">
        <form id="addGameForm" method="POST" action="{% url 'update_library' %}">
            {% csrf_token %}
            {{ form.as_p }}
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Update Library</button>
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock %}
{% block extras %}
<script src="{% static 'js/game_form.js' %}"></script>
{% endblock %}