{% extends 'base.html' %} {% block content %}


<!--User authentication section. If user is authenticated then their library will appear. If user is not authenticated then a page showing them the default library will appear, without any edit or comment permissions.-->

<!--Section for if the user is not authenticated-->

<!--Section for is the user is authenticated-->

<section class="container">
    <div class="row">
        <div class="col game-text">
            <p>Game One</p>
            <p>Game Two</p>
            <p>Game Three</p>
        </div>
        <div class="col">
            <p>Image placeholder</p>
        </div>
        <div class="col">
            <p>Game Title</p>
            <p>Game Category</p>
            <p>Game Description</p>
        </div>
    </div>
    <div>

    </div>
    
</section>

{% endblock %}